$header-height-dp: 100px;
// $banner-height-dp: 182px;

// $page-top-alignment: 37px;
$page-top-alignment: 25px;
$page-container-padding: 31px;
$page-container-padding-mobile: 15px;
$landing-page-container-padding: 24px;
$breadcrumb-divider: quote(">");
$top-nav-height-dp: 60px;