@import './fonts';

html {
    body {
        width: 100%;
        color: $grey-primary;
        overflow-x: hidden;
        font-family: "Roboto", sans-serif; //As per MDB Free 4.5.16

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 300;
        }
    }
}