<div class="sidebar-container" [ngClass]="isNavToggled ? 'toggled' : ''">
  <div class="menu-toggle-wrapper">
    <a href="javascript:void(0)" (click)="menuToggle()" [ngClass]="isNavToggled ? 'menu-toggle-btn toggled' : 'menu-toggle-btn'"
      id="menu-toggle">
      <img src="assets/imgs/sideNavMenu/Menu_Chenvron.png">
    </a>
  </div>

  <ul class="sidebar-nav">
    <li class="li-active">
      <a>
        <span class="sideNav-img">
          <img src="assets/imgs/sideNavMenu/Home.png" />
        </span>
        <span class="text-icon">
          <span class="menu-text text-bold">Information to Insight</span>
        </span>
      </a>
    </li>
    <li>
      <a target="_Blank" href="/sense/app/313c281a-8959-461c-aec0-29f49fb3726c/sheet/922ccbc7-604f-42c9-ae0a-33bf975936a4/state/analysis">
        <span class="text-icon">
          <span class="menu-text">Operational Performance Dashboard (OPD)</span>
        </span>
      </a>
    </li>
    <li>
      <a target="_Blank" href="/sense/app/4c478b11-838b-4169-9cc7-893ca1d76ca6/sheet/sRHBZFk/state/analysis">
        <span class="text-icon">
          <span class="menu-text">Labor Productivty Dashboard (LPD)</span>
        </span>
      </a>
    </li>
    <li>
      <a target="_Blank" href="/sense/app/2240c377-894a-4310-8168-3eb53de27cda/sheet/00bd29a0-bd30-4045-8022-d6979a1f10c9/state/analysis">
        <span class="text-icon">
          <span class="menu-text">Medical Group Enterprise Dashboard (MGE)</span>
        </span>
      </a>
    </li>
    <li>
      <a target="_Blank" href="/SASVisualAnalyticsViewer/VisualAnalyticsViewer_guest.jsp?saspfs_request_backurl_list=/SASVisualAnalyticsHub&saspfs_request_backlabel_list=Home&saspfs_request_path_url=SBIP://METASERVER/Analytic+Portal/Visual+Analytics/Reports/Living+Our+Mission+Measures%28Report%29&saspfs_request_entitykey=A5SH6NTT.AX0000M9/Transformation&_vaSectionName=vi1&appSwitcherDisabled=true&propertiesEnabled=false&commentsEnabled=false&reportViewOnly=false">
        <span class="text-icon">
          <span class="menu-text">Quality, Safety and Patient Experience</span>
        </span>
      </a>
    </li>
    <li>
      <a target="_Blank" href="/sense/app/e73fb407-a751-4080-9545-a7de95915f08/sheet/d108c6a5-c8de-4281-a57f-3bdbc9f5517e/state/analysis">

        <span class="text-icon">
          <span class="menu-text">Employee Engagement Dashboard</span>
        </span>
      </a>
    </li>
    <li>
      <a target="_Blank" href="/sense/app/20905ea5-f5b5-48a3-80a1-d42f52fd4e3d/sheet/d790140f-970b-4f80-af6d-3baef60c61b3/state/analysis">

        <span class="text-icon">
          <span class="menu-text">Physician Engagement Dashboard</span>
        </span>
      </a>
    </li>
    <li>
      <a target="_Blank" href="/sense/app/deccd59f-407a-4569-a187-faa5dd8b1b0f/sheet/6158776c-8184-4b9a-a91e-825625ec811b/state/analysis">

        <span class="text-icon">
          <span class="menu-text">Supply Initiative Dashboard</span>
        </span>
      </a>
    </li>
    <li>
      <a target="_Blank" href="/sense/app/67865bea-0652-4140-a8dd-8d5bbe668a5f/sheet/bcaa8f49-096f-4782-a405-4b9d959e2a2e/state/analysis">
        <span class="text-icon">
          <span class="menu-text">Service Profitability Explorer (SPE)</span>
        </span>
      </a>
    </li>
    <li>
      <a target="_Blank" href="/sense/app/6ae84ab7-8c7d-4d53-84f3-fb0491876a58/sheet/fbe810ea-adc5-4330-9850-2fde7926a1b2/state/analysis">
        <span class="text-icon">
          <span class="menu-text">Volume Pattern Explorer (VPE)</span>
        </span>
      </a>
    </li>
  </ul>
</div>